@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500&display=swap");

* {
  font-family: "Poppins", sans-serif;
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  width: 100vw;
  overflow-x: hidden;
}
img {
  width: 100%;
}
section {
  padding: 50px 100px;
}
section h2{
  margin-bottom:30px; 
  letter-spacing: 1px;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  height: 100px;
  position: relative;
}
header #logo {
  width: 100px;
}
.nav-links i {
  font-size: 20px;
  margin-top: 15px;
  color: white;
  display: none;
}

.nav-links ul {
  display: flex;
}
.nav-links li {
  padding-left: 30px;
  font-size: 20px;
}
.nav-links a {
  color: white;
  transition: 0.2s all linear;
}
.nav-links a:hover {
  color: sandybrown;
}
.icons {
  display: flex;
  gap: 20px;
}
.icons i {
  color: white;
  font-size: 20px;
}
.search-bar {
  width: 100%;
  position: absolute;
  top:-60%;
  background-color: white;
}
.search-bar.active {
  top:100%;
  transition: 0.5s all linear;
  box-shadow: 2px 2px 2px 2px grey;
}
.search-bar input {
  width: 100vw;
  padding: 15px;
  border: none;
  font-size: 20px;
  outline: none;
}
.body {
  /* position: absolute;
  top:30%; */

  background: url(/images/img4.png);
  height: 70vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.para {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 400px;
  padding: 15px 0px;
  padding-left: 40px;
  position: absolute;
  top: 20%;
}
.para h1 {
  color: rgb(203, 163, 128);
  padding-top: 40px;
  font-size: 2.5em;
}
.para p {
  color: white;
  font-weight: 500;
  font-size: 14px;
  padding-top: 10px;
}
.para button {
  margin: 20px;
  padding: 9px;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
  color: rgb(203, 163, 128);
  background-color: black;
}
.about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
  align-items: center;
  column-gap: 20px;
}
.about-img img {
  width: 100%;
  height: 300px;
  border-radius: 5px;
}
.about-text h2 {
  color: rgb(225, 123, 35);
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.about-text button {
  margin: 20px 0;
  padding: 8px;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
  color: rgb(203, 163, 128);
  background-color: black;
}
.heading {
  text-align: center;
}
.heading h2 {
  color: sandybrown;
  font-size: 2em;
}
.container-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
  align-items: center;
  gap: 30px;
  margin-top: 10px;
}
.product-lists {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 2px 2px grey;
}
.product-lists img {
  width: 100%;
  height: 300px;
  object-fit: contain;
  object-position: center;
}
.product-lists h3 {
  text-align: center;
  text-transform: capitalize;
}
.amount {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 15px;
  margin-top: 10px;
}
.rupee {
  color: salmon;
  font-weight: bold;
}
.amount a {
  color: rgb(219, 164, 117);
  background-color: black;
  font-size: 14px;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.3s linear;
}
.amount a:hover {
  color: sandybrown;
}
.customer-containers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
  align-items: center;
  gap: 50px;
  margin-top: 30px;
}
.customers-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px grey;
  padding: 10px;
}
.customers-list:hover {
  transition: 0.2s linear;
  background-color: rgb(223, 180, 142);
}
.customers-list .stars {
  color: rgb(211, 99, 1);
}
.customers-list p {
  font-size: 14px;
  padding: 15px;
}
.customers-list h3 {
  padding-bottom: 5px;
}
.customers-list img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.footer-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 30px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}
.footer-list h3 {
  color: sandybrown;
}
.footer-list li a:hover {
  color: sandybrown;
  transition: 0.3s linear;
}
.details p {
  padding: 10px 0px;
}
details .socials {
  display: flex;
  align-items: center;
}
.details .socials {
  margin-top: 20px;
  margin-right: 10px;
}
.details .socials a {
  background-color: gainsboro;
  padding: 5px 10px;
  border-radius: 3px;
}
.footer-links li {
  padding-top: 10px;
}
.footer-links a {
  color: black;
}
.footer-links a i {
  padding-right: 10px;
}
.copyrights {
  padding: 15px;
  text-align: center;
  background-color: rgb(202, 149, 103);
}
.copyrights a {
  color: black;
  font-size: 14px;
  margin-left: 5px;
}
@media screen and (max-width: 1024px) {
  .para {
    margin-top: 50px;
  }
  section {
    padding: 50px 60px;
  }
}


@media screen and (max-width: 940px) {
  header {
    position: relative;
  }
  .para {
    margin-top: 10%;
  }
  section {
    padding: 30px 10%;
  }

  .nav-links i {
    display: block;
    text-align: center;
  }
  .link {
    position: absolute;
    width: 100%;
    top: -220%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: black;
    z-index: 1000;
    transition: 0.5s ease-in;
  }
  .link.navs {
    top: 100%;
  }
  .link li {
    padding: 10px;
  }
  .link li a:hover {
    background-color: salmon;
    padding: 5px;
    color: white;
  }
  .about-img{
    display: none;
  }


  
}
@media screen and (max-width: 450px) {
  .para {
    margin-top: 5%;
  }
  section {
    padding: 30px 15%;
  }
  .heading h2,section h2{
    font-size: 30px;
  }
}
@media screen and (max-width: 400px) {
  .para {
    width: 70%;
    margin-top: 80px;
  }
  .para h1 {
    font-size: 1.5em;
    padding-right: 0;
  }
  .para p {
    font-size: 10px;
  }
  section{
    padding:30px 4%;
  }
  .heading h2{
    font-size: 24px;
  }
}

